.section3{
    width: 100%;
    position: absolute;
    top: 75%;
    left: 70%;
}

.section3__btnHome{
    position: fixed;
    width: 100%;
    z-index: 4;
}

.section3__btnHome--img{
    width: 25%;
    padding: 10px;
    border-radius: 50%;
    background-color: #FF302E;
    box-shadow: 0px 3px 15px 0px black;
}

@media only screen and (min-width: 1024px){
    .section3{
        top: 115%;
        left: 84%;
    }
    .section3__btnHome{
        width: 33%;
    }
}