.front{
    width: 100%;
}

.front__container{
    margin: 30px 5px;
}

.front__container--golpes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.front__container--p{
    margin: 0;
    padding: 5px;
    color: black;
}

.front__container--a{
    padding: 5px;
    background-color: #FF5D25;
    color: white;
    text-decoration: none;
    box-shadow: 4px 6px 19px -4px black;
}