.aside{
    width: 100%;
}

.aside__container{
    margin: 30px 5px;
}

.aside__container2--title{
    margin: 30px 5px;
}

.aside__container--h2{
    width: 50%;
    margin: 30px 0;
    padding: 10px;
    color: white;
    background-color: #FF302E;
    box-shadow: 7px 5px 13px -2px black;
}

.aside__container--p{
    background-color: #FF5D25;
    padding: 10px;
    width: 93%;
    color: white;
    font-size: 5vmin;
}

.aside__container--photo{
    margin: 30px 5px;
}

@media only screen and (min-width: 1024px){
    .aside{
        margin: 50px;
    }
}