.aside{
    width: 100%;
}

.aside__container{
    margin: 0 5px;
}

.aside__container2--title{
    margin: 0 5px;
}

.aside__container--h2{
    background-color: #FF302E;
    padding: 10px;
    width: 40%;
    color: white;
    box-shadow: 7px 5px 13px -2px black;
}

.aside__container--p{
    background-color: #FF5D25;
    padding: 10px;
    width: 93%;
    color: white;
}

.aside__container2--Galery{
    width: 95%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 10px;
    margin: 0 5px;
    padding: 40px 0;
    overflow: hidden;
}

.aside__container2--Galery > a {
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.aside__container2--img{
    width: 100%;
    height: 300px;
    vertical-align: top;
    object-fit: cover;
    transition: transform 0.5;
}

.aside__container2--Galery a:hover .aside__container2--img{
    filter: blur(2px);
    transform: rotate(10deg) scale(1.3);
}