*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.header{
    width: 96%;
}

.header__container{
    margin: 20px;
}

.header__container--img{
    width: 100%;
}


@media only screen and (min-width: 1024px){
    .header{
        margin: 0 20px;
        border-bottom: 2px solid #FF302E;
    }
}

/* @media only screen and (min-width: 1280px){
    
} */